.rive-ui-table {
  border: 1px solid var(--rive-ui-color-border);
  border-radius: var(--rive-ui-border-radius);
  overflow: hidden;
}

.rive-ui-table table {
  border-collapse: collapse;
  margin: -1px;
  table-layout: fixed;
  width: calc(100% + 2px);
}

.rive-ui-table td,
.rive-ui-table th {
  text-align: left;
  border: 1px solid var(--rive-ui-color-border);
  padding: 0.25rem 0.5rem;
}

.rive-ui-table th {
  background-color: var(--rive-ui-color-toolbar-bg);
}

.rive-ui-table td {
  background-color: var(--rive-ui-color-content-bg);
}
