.rive-ui-toolbar {
  display: flex;
  background-color: var(--rive-ui-color-toolbar-bg);
  height: 1.5rem;
  font-size: 0.75rem;
  align-items: center;
}

.rive-ui-toolbar:first-child {
  border-bottom: 1px solid var(--rive-ui-color-border);
}

.rive-ui-toolbar:last-child {
  border-top: 1px solid var(--rive-ui-color-border);
}
