.rive-ui-alert {
  border: 1px solid var(--rive-ui-color-info);
  border-radius: var(--rive-ui-border-radius);
  padding: var(--rive-ui-padding-y) var(--rive-ui-padding-x);
  background-color: var(--rive-ui-color-info-bg);
  font-size: var(--rive-ui-font-size);
  margin-bottom: 1em;
  display: flex;
}

.rive-ui-alert-icon {
  margin-right: var(--rive-ui-padding-x);
  color: var(--rive-ui-color-info);
}

.rive-ui-alert-icon svg {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.rive-ui-alert-success {
  border-color: var(--rive-ui-color-success);
  background-color: var(--rive-ui-color-success-bg);
}

.rive-ui-alert-success .rive-ui-alert-icon {
  color: var(--rive-ui-color-success);
}

.rive-ui-alert-warning {
  border-color: var(--rive-ui-color-warning);
  background-color: var(--rive-ui-color-warning-bg);
}

.rive-ui-alert-warning .rive-ui-alert-icon {
  color: var(--rive-ui-color-warning);
}

.rive-ui-alert-error {
  border-color: var(--rive-ui-color-error);
  background-color: var(--rive-ui-color-error-bg);
}

.rive-ui-alert-error .rive-ui-alert-icon {
  color: var(--rive-ui-color-error);
}

.rive-ui-alert-main > *:first-child {
  margin-top: 0;
}

.rive-ui-alert-main > *:last-child {
  margin-bottom: 0;
}
