.rive-ui-toc {
  font-size: 0.8rem;
  flex: 0 0 auto;
  width: 25em;
  box-sizing: border-box;
}

.rive-ui-toc-inner {
  border-left: 1px solid var(--rive-ui-color-border);
  padding-left: 1em;
  max-height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
}
