.rive-ui-tool-button {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  border: 0;
  padding: 0 0.5rem;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  height: 1.5rem;
  line-height: 1.5rem;
  gap: 0.25rem;
}

.rive-ui-tool-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.rive-ui-tool-button:active {
  background: rgba(0, 0, 0, 0.1);
}

.rive-ui-tool-button-icon {
  display: flex;
  align-items: center;
}

.rive-ui-tool-button-success {
  color: var(--rive-ui-color-success);
}
