.rive-ui-select {
  display: inline-block;
  font-size: 0.75rem;
  width: max-content;
  position: relative;
}

.rive-ui-select-disabled,
.rive-ui-select-disabled input {
  cursor: not-allowed;
}

.rive-ui-select-disabled .rive-ui-select-selector {
  opacity: 0.3;
}

.rive-ui-select .rive-ui-select-selection-placeholder {
  opacity: 0.4;
  pointer-events: none;
}

.rive-ui-select .rive-ui-select-selection-search-input {
  appearance: none;
  cursor: pointer;
}

.rive-ui-select .rive-ui-select-selection-search-input::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}

.rive-ui-select .rive-ui-select-selector {
  display: flex;
  position: relative;
  cursor: pointer;
}

.rive-ui-select .rive-ui-select-selector:hover {
  background: rgba(0, 0, 0, 0.05);
}

.rive-ui-select .rive-ui-select-selector:active {
  background: rgba(0, 0, 0, 0.1);
}

.rive-ui-select-single .rive-ui-select-selector .rive-ui-select-selection-wrap {
  width: 100%;
  position: relative;
}

.rive-ui-select-single .rive-ui-select-selector .rive-ui-select-selection-search {
  width: 100%;
  position: relative;
}

.rive-ui-select-single .rive-ui-select-selector .rive-ui-select-selection-search-input {
  border: none;
  outline: none;
  background: rgba(255, 0, 0, 0.2);
  width: 100%;
}

.rive-ui-select-single .rive-ui-select-selector .rive-ui-select-selection-item,
.rive-ui-select-single .rive-ui-select-selector .rive-ui-select-selection-placeholder {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  pointer-events: none;
  font-weight: normal;
}

.rive-ui-select-multiple .rive-ui-select-selector {
  display: flex;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-item {
  flex: none;
  background: #bbb;
  border-radius: 4px;
  margin-right: 2px;
  padding: 0 8px;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-item-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-overflow {
  display: flex;
  flex-wrap: wrap;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-overflow-item {
  flex: none;
  max-width: 100%;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-search {
  position: relative;
  max-width: 100%;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-search-mirror {
  z-index: 999;
  white-space: nowrap;
  position: none;
  left: 0;
  top: 0;
  visibility: hidden;
}

.rive-ui-select-multiple .rive-ui-select-selector .rive-ui-select-selection-search-input {
  border: none;
  outline: none;
  background: rgba(255, 0, 0, 0.2);
  width: 100%;
}

.rive-ui-select-allow-clear.rive-ui-select-multiple .rive-ui-select-selector {
  padding-right: 20px;
}

.rive-ui-select-allow-clear .rive-ui-select-clear {
  position: absolute;
  right: 20px;
  top: 0;
}

.rive-ui-select-show-arrow.rive-ui-select-multiple .rive-ui-select-selector {
  padding-right: 20px;
}

.rive-ui-select-show-arrow .rive-ui-select-arrow {
  pointer-events: none;
  position: absolute;
  right: 5px;
  top: 0;
}

.rive-ui-select-focused .rive-ui-select-selector {
  border-color: blue !important;
}

.rive-ui-select-dropdown {
  position: absolute;
  background: #fff;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
}

.rive-ui-select-dropdown-hidden {
  display: none;
}

.rive-ui-select-item {
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 4px 16px;
}

.rive-ui-select-item-group {
  color: #999;
  font-weight: bold;
  font-size: 0.625rem;
}

.rive-ui-select-item-option {
  position: relative;
}

.rive-ui-select-item-option-grouped {
  padding-left: 1.5rem;
}

.rive-ui-select-item-option .rive-ui-select-item-option-state {
  position: absolute;
  right: 0;
  top: 4px;
  pointer-events: none;
}

.rive-ui-select-item-option-active {
  background: #ddd;
}

.rive-ui-select-item-option-disabled {
  color: #999;
}

.rive-ui-select-item-empty {
  text-align: center;
  color: #999;
}
