.rive-ui-toolbar {
  display: flex;
  background-color: var(--rive-ui-color-toolbar-bg);
}

.rive-ui-toolbar:first-child {
  border-bottom: 1px solid var(--rive-ui-color-border);
}

.rive-ui-toolbar:last-child {
  border-top: 1px solid var(--rive-ui-color-border);
}
